name: "Test"
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "yarn"
      - name: Install dependencies
        run: yarn
      - name: Biome
        run: yarn run biome:ci
      - name: Typecheck
        run: yarn run typecheck
      - name: Test
        run: yarn run test
